<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>About Us</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" media="screen,projection" href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <meta name="theme-color" content="#B71C1C">
</head>
<body style="display: flex; min-height: 100vh;flex-direction: column;">
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/portland">Portland</a></li>
    <li><a href="/">Gorham</a></li>
</ul>
<main style="flex: 1 0 auto;">
    <div class="navbar-fixed">
        <nav class="indigo darken-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Park USM</a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-trigger" href="#!" data-activates="dropdown1">Select Campus<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">Admin</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav" class="edge left" class="draggable true">
                    <li><a href="/">Gorham Campus</a></li>
                    <li><a href="/portland">Portland Campus</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">Admin</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>
    <div id="index-banner" style="height:400px" class="parallax-container valign-wrapper">
        <div id="toppart" class="container valign">
            <h1 id="about-heading" class="header center indigo-text text-darken-2">About Us</h1>
            <div class="row center">
                <h4 class="header col s12 light black-text text-darken-2">Everything there is to know about the
                    Campus Parking Project</h4>
            </div>
            <div class="row center">
                <a href="#startPosts"
                   class="btn-floating btn-large waves-effect waves-light indigo darken-2 head-link"><i
                        class="fa fa-angle-double-down"></i></a>
            </div>

        </div>
    </div>
    </div>

    <div class="container" id="startPosts">
        <div class="row">
            <div class="col s12 m10 offset-m1 l9 offset-l1">
                <p style="font-size: 17px;"> The Campus Parking Project story began in December of 2019. Frustrated by the parking management
                    methods used at the University of Southern Maine, Carter Haid and Connor Black set out to create a
                    full
                    parking management system that could be used by anyone.
                </p>
                <p style="font-size: 17px;">Since 2019 Carter has continued to develop the project while Connor has taken an advisory role...
                    mainly focusing on keeping the HTML/CSS within material design guidelines. Several other developers
                    have written small scripts for the project all under the management of Carter.
                </p>
                <p style="font-size: 17px;">If you'd like to collaborate on the project feel free to make a pull request on GitHub.
                    To collaborate in a different way please feel free to reach out via our contact form. We're looking
                    forward to the new year and to the future of Campus Parking Project. Have a great and safe 2021.

                </p>
                <p style="font-size: 17px;"><u>Some positions that we're looking for in 2021:</u>
                    <br>
                    - Graphic Designer (don't look now but... we don't have logos.)
                    <br>
                    - Traffic Engineering Consultant
                </p>
            </div>
        </div>
    </div>

</main>
</body>
<footer class="page-footer-fixed indigo darken-1">
    <div class="footer-copyright">
        <div class="container" style="color:#cfd8dc">
            © 2020 Carter Haid
            <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/carterhaid/">| Linkedin</a>
            <a class="grey-text text-lighten-4 right" href="https://github.com/Carter-Haid">| Github&nbsp</a>
            <a class="grey-text text-lighten-4 right" href="https://carterhaid.com">Website&nbsp</a>
        </div>
    </div>
    </div>
</footer>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{url_for('static', filename='js/materialize.js')}}"></script>
</html>