<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Campus Parking Project</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" media="screen,projection" href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <meta name="theme-color" content="#B71C1C">
</head>
<body style="display: flex; min-height: 100vh;flex-direction: column;">
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/portland">Portland</a></li>
    <li><a href="/">Gorham</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
    <li><a href="/portland">Portland</a></li>
    <li><a href="/">Gorham</a></li>
</ul>
<main style="flex: 1 0 auto;">
    <div class="navbar-fixed">
        <nav class="indigo darken-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Park USM</a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-trigger" href="#!" data-activates="dropdown1">Select Campus<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav edge left draggable true">
                    <li><a class="dropdown-trigger" href="#!" data-activates="dropdown2">Select Campus<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>
    <object data="{{url_for('static', filename='GorhamMap.html')}}"
            style="width:100%;height:100%;margin:0;position: fixed;flex-direction: column; z-index:3"></object>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large indigo darken-1" href="#modal_box">
            <i class="large material-icons">format_list_bulleted</i>
        </a>
    </div>
    <!-- Modal Structure -->
    <div id="modal_box" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Closings & Parking Bans:</h4>
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="https://github.com/Carter-Haid/campusParkingMap/blob/master/flaskr/static/images/USMGorham.png?raw=true"
                         alt="" class="circle">
                    <span class="title"><u>Gorham Campus</u></span>
                    <p>- Campus is Currently:
                        <span style="color: black"> {{ gorhamopen }} </span>
                    <p>- Parking Lots Closed:
                        <span style="color:{{ gorhamlotcolor }}"> {{ gorhambancounter }} </span>
                    </p>
                    <a href="#!" class="secondary-content"><i style="color:black"
                                                              class="material-icons">check_circle_outline</i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="https://github.com/Carter-Haid/campusParkingMap/blob/master/flaskr/static/images/USMPortland.png?raw=true"
                         alt="" class="circle">
                    <span class="title"><u>Portland Campus</u></span>
                    <p>- Campus is Currently:
                        <span style="color:black"> {{ portlandopen }} </span>
                    </p>
                    <p>- Parking Lots Closed:
                        <span style="color:black"> {{ portlandbancounter }} </span>
                    </p>
                    <a href="#!" class="secondary-content"><i style="color:black"
                                                              class="material-icons">check_circle_outline</i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="https://github.com/Carter-Haid/campusParkingMap/blob/master/flaskr/static/images/USMLewiston.png?raw=true"
                         alt="" class="circle">
                    <span class="title"><u>Lewiston Campus</u></span>
                    <p>- Campus is Currently:
                        <span style="color:black"> {{ lewistonopen }} </span>
                    <p>- Parking Lots Closed:
                        <span style="color:black"> 0 </span>
                    </p>
                    <a href="#!" class="secondary-content"><i style="color:black"
                                                              class="material-icons">check_circle_outline</i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="https://github.com/Carter-Haid/campusParkingMap/blob/master/flaskr/static/images/Gorham.png?raw=true"
                         alt="" class="circle">
                    <span class="title"><u>Town of Gorham</u></span>
                    <p>- Parking Ban:
                        <span style="color:black"> {{ gorhamstreetstatus }} </span></p>
                    <a href="#!" class="secondary-content"><i style="color:black"
                                                              class="material-icons">warning</i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="https://github.com/Carter-Haid/campusParkingMap/blob/master/flaskr/static/images/Portland.png?raw=true"
                         alt="" class="circle">
                    <span class="title"><u>City of Portland</u></span>
                    <p>- Parking Ban:
                        <span style="color:black"> {{ portlandstreetstatus }} </span></p>
                    <a href="#!" class="secondary-content"><i style="color:black"
                                                              class="material-icons">warning</i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="https://github.com/Carter-Haid/campusParkingMap/blob/master/flaskr/static/images/Lewiston.png?raw=true"
                         alt="" class="circle">
                    <span class="title"><u>City of Lewiston</u></span>
                    <p>- Parking Ban:
                        <span style="color:black"> {{ lewistonstreetstatus }} </span></p>
                    <a href="#!" class="secondary-content"><i style="color:black"
                                                              class="material-icons">warning</i></a>
                </li>
            </ul>
        </div>
    </div>
</main>
</body>
<footer style="z-index:3" class="page-footer-fixed indigo darken-1">
    <div class="footer-copyright">
        <div class="container" style="color:#cfd8dc">
            © 2020 Carter Haid
            <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/carterhaid/">| Linkedin</a>
            <a class="grey-text text-lighten-4 right" href="https://github.com/Carter-Haid">| Github&nbsp</a>
            <a class="grey-text text-lighten-4 right" href="https://carterhaid.com">Website&nbsp</a>
        </div>
    </div>
</footer>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{url_for('static', filename='js/materialize.js')}}"></script>
<script src="{{url_for('static', filename='js/init.js')}}"></script>
</div>
</div>
</body>
</html>
